.vicecity-app{width:100%;height:100%;background:#000}.vicecity-iframe{display:block}.vicecity-app.force-landscape{position:relative;overflow:hidden}

@media (max-width: 768px){
	.vicecity-app{min-height:0}
	.vicecity-iframe{width:100%;height:100%}
}
